<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>divinglog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B871CD91DDA974600281EEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B871CEF1DDA974600281EEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B871CFA1DDA974600281EEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
